body {
  font-family: Courier New, Courier, monospace;
  background-color: #ccc;
  color: #333;
}

.app {
  margin: 10px;
}

.console {
  max-width: 640px;
  margin: auto;
  border: 1px solid #999;
  padding: 2px;
}

.console-header {
  display: inline;
}

.console-header .title {
  float: left;
  margin-left: 4px;
}

.console-header .stats {
  float: right;
  margin-right: 4px;
}

.console-body-wrap {
  height: 600px;
  background-color: #333;
  color: #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
  clear: both;
  padding: 8px;
}

.console-body {
  line-height: 20px;
  text-align: justify;
  white-space: pre-line;
  word-wrap: break-word;
}

#scroll-bottom {
  height: 4px;
  overflow-y: scroll;
}